<div class="myxblock_block">
  <div class="clause">
    <h1>{{ entry.title }}</h1>

    {% for block in blocks %}
      <div class="blockType{{  block.type }}" style="padding: 0.8em; margin: 0.5em; border-bottom: 1px solid lightgray;">

      {% if block.type in 'clauseText,lmsAdvancedConcepts,lmsText' %}
        {{ block.block | safe }}
        

      {% elif block.type in 'contentBlock' %}
        {% with contentBlock=block.block %}
          {% if contentBlock.cssClass == 'edx-academy-tip' %}
              <div class="edx-academy-tip">
                  {% for image in contentBlock.componentIcon %}
                      <div class="edx-icon">
                          <img src="{{ cmsHost }}{{ image.url }}" class="img-fluid"/>
                      </div>
                  {% endfor %}
                  <div class="edx-content">
                      {{ contentBlock.blockContent | safe }}
                  </div>
              </div>
          {% elif contentBlock.cssClass == 'edx-featured-content' %}
              <div class="edx-featured-content">
                  {% for image in contentBlock.componentIcon %}
                      <div class="edx-icon">
                          <img src="{{ cmsHost }}{{ image.url }}" class="img-fluid"/>
                      </div>
                  {% endfor %}
                  <div class="edx-content">
                      {{ contentBlock.blockContent | safe }}
                  </div>
              </div>
          {% elif contentBlock.cssClass == 'edx-advanced-concept' %}
              <div class="edx-advanced-concept">
                  <button class="edx-opener">
                      <span>Close</span>
                      <em>Open</em>
                  </button>
                  <strong class="edx-heading">Advanced Concept</strong>
                  <div class="edx-content">
                      {{ contentBlock.blockContent | safe }}
                  </div>
              </div>
          {% else %}
            <div>
              {% if contentBlock.blockTitle != null %}
                <h5>{{ contentBlock.blockTitle }}</h5>
              {% endif %}
              <div>{{ contentBlock.blockContent | safe }}</div>
            </div>
          {% endif %}
        {% endwith %}


      {% elif block.type in 'cmsAsset' %}
        {% with asset=block.block %}
          {% for file in asset.assetfile %}
              <img
                src="{{ cmsHost }}{{ file.url }}"
                class="img-fluid {{ asset.assetType }}"
              />
          {% endfor %} 
        {% endwith %}


      {% elif block.type in 'faq' %}
        {% with faq=block.block %}
          <h5>{{ faq.question }}</h5>
          <div>{{ faq.answer | safe }}</div>
        {% endwith %}


      {% elif block.type in 'tip' %}
        {% with tip=block.block %}
        <div class="{{ tip.tipCssClass }}">
          <h5>{{ tip.tipTitle }}</h5>
          <div>{{ tip.tipContent | safe }}</div>
        </div>
        {% endwith %}

      {% elif block.type in 'table2colMatrix' %}
        {% with table=block.block %}
          <table>
            {% if table.hasHeaderRow.0 == 'yes' %}
            <tr>
              <th>{{ table.table2col.0.col1 | safe }}</th>
              <th>{{ table.table2col.0.col2 | safe }}</th>
            </tr>
    
            {% for row in table.table2col|slice:"1:" %}
            <tr>
              <td>{{ row.col1 | safe }}</td>
              <td>{{ row.col2 | safe }}</td>
            </tr>
            {% endfor %} {% else %} {% for row in table.table2col %}
            <tr>
              <td>{{ row.col1 | safe }}</td>
              <td>{{ row.col2 | safe }}</td>
            </tr>
            {% endfor %} {% endif %}
          </table>
        {% endwith %}

      {% elif block.type in 'table3colMatrix' %}
        {% with table=block.block %}
          <table>
            {% if table.hasHeaderRow.0 == 'yes' %}
            <tr>
              <th>{{ table.table3col.0.col1 | safe }}</th>
              <th>{{ table.table3col.0.col2 | safe }}</th>
              <th>{{ table.table3col.0.col3 | safe }}</th>
            </tr>
    
            {% for row in table.table3col|slice:"1:" %}
            <tr>
              <td>{{ row.col1 | safe }}</td>
              <td>{{ row.col2 | safe }}</td>
              <td>{{ row.col3 | safe }}</td>
            </tr>
            {% endfor %} {% else %} {% for row in table.table3col %}
            <tr>
              <td>{{ row.col1 | safe }}</td>
              <td>{{ row.col2 | safe }}</td>
              <td>{{ row.col3 | safe }}</td>
            </tr>
            {% endfor %} {% endif %}
          </table>
        {% endwith %}
        
        
      {% elif block.type in 'table4colMatrix' %}
        {% with table=block.block %}
          <table>
            {% if table.hasHeaderRow.0 == 'yes' %}
            <tr>
              <th>{{ table.table4col.0.col1 | safe }}</th>
              <th>{{ table.table4col.0.col2 | safe }}</th>
              <th>{{ table.table4col.0.col3 | safe }}</th>
              <th>{{ table.table4col.0.col4 | safe }}</th>
            </tr>
    
            {% for row in table.table4col|slice:"1:" %}
            <tr>
              <td>{{ row.col1 | safe }}</td>
              <td>{{ row.col2 | safe }}</td>
              <td>{{ row.col3 | safe }}</td>
              <td>{{ row.col4 | safe }}</td>
            </tr>
            {% endfor %} {% else %} {% for row in table.table4col %}
            <tr>
              <td>{{ row.col1 | safe }}</td>
              <td>{{ row.col2 | safe }}</td>
              <td>{{ row.col3 | safe }}</td>
              <td>{{ row.col4 | safe }}</td>
            </tr>
            {% endfor %} {% endif %}
          </table>
        {% endwith %}

      
      {% elif block.type in 'table5colMatrix' %}
        {% with table=block.block %}
          <table>
            {% if table.hasHeaderRow.0 == 'yes' %}
            <tr>
              <th>{{ table.table4col.0.col1 | safe }}</th>
              <th>{{ table.table4col.0.col2 | safe }}</th>
              <th>{{ table.table4col.0.col3 | safe }}</th>
              <th>{{ table.table4col.0.col4 | safe }}</th>
              <th>{{ table.table4col.0.col5 | safe }}</th>
            </tr>
    
            {% for row in table.table5col|slice:"1:" %}
            <tr>
              <td>{{ row.col1 | safe }}</td>
              <td>{{ row.col2 | safe }}</td>
              <td>{{ row.col3 | safe }}</td>
              <td>{{ row.col4 | safe }}</td>
              <td>{{ row.col5 | safe }}</td>
            </tr>
            {% endfor %} {% else %} {% for row in table.table5col %}
            <tr>
              <td>{{ row.col1 | safe }}</td>
              <td>{{ row.col2 | safe }}</td>
              <td>{{ row.col3 | safe }}</td>
              <td>{{ row.col4 | safe }}</td>
              <td>{{ row.col5 | safe }}</td>
            </tr>
            {% endfor %} {% endif %}
          </table>
        {% endwith %}

        {% elif block.type in 'accordionneo' %}
          {% with accordion=block.block %}
          <div class="accordion">
            {% if accordion.accordionTitle != null %}
              <h5>{{ accordion.accordionTitle }}</h5>
            {% endif %} 
            {% for elem in accordion.accordionmatrix %}
              <details>
                <summary class="{{ accordion.accordionClasses }}">
                  {{ elem.accordionblocktitle }}
                </summary>
                {{ elem.accordionblockcontent | safe }}
              </details>
            {% endfor %}
          </div>
          {% endwith %}
        

      {% else %}
        Unsuported type: {{ block.type }}
      {% endif %}
      
      </div>
    {% endfor %}
  </div>
</div>
