/* CSS for GraphQlCmsXBlock */

.myxblock_block th, .myxblock_block td, .myxblock_block p, .myxblock_block input, .myxblock_block h3 {
    font:15px 'Segoe UI';
}

.myxblock_block table, .myxblock_block th, .myxblock_block td {
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

.myxblock_block th p {
    font-weight:bold;
}

.myxblock_block details {   
    padding: .75em .75em 0;
    margin-top: 10px;
    box-shadow:0 0 20px #d4d4d4;
    border-radius: 12px;
}

.myxblock_block summary {	
    font-weight: bold;
    margin: -.75em -.75em 0;
    padding: .75em;
    background-color: #4F5054;
    color: #fff;
    border-radius: 12px;
}

.myxblock_block details[open] {
    padding: .75em;
    border-bottom: 1px solid #FAFAFB;
    border-radius: 12px;
}

.myxblock_block details[open] summary {
    padding: .75em;
    border-bottom: 1px solid #FAFAFB;
    border-radius: 12px;
}

.myxblock_block .icon {
    width: 150px;
    height: 150px;
}

.myxblock_block div.tipAlt
{
    background-color: #ebf3c9;
    border-left: solid 4px #A9C92D;
    background-repeat: no-repeat;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 5px 150px;
    padding-right: 30px;
    width: 750px;
    position: relative;
}

.myxblock_block div.tipAlt::before{
    display: inline-block;
    width: 136px;
    height: -webkit-fill-available;
    content: "";
    background: url(https://dev.cms.intellcreative.ca/assets/tip-icon-01.png) no-repeat 0 0;
    background-size: 90px 90px;
    position: absolute;
    left: 0em;
    top: 0%;
    background-color: #A9C92D;
    background-position: center;
}